{% extends 'main.html' %}


{% block content %}

<div>

    

    <div>
        <section class="section" id="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="cta-content">
                            <h2><em>FEDERAL ROAD SAFETY CORP</em></h2>
                            <h3>Course Allocation for Staff</h3>
                            <div class="main-button scroll-to-section">
                                <a href="{% url 'allocation' %}">GO TO PLATFORM</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
          

    </div>


</div>


{% endblock content %}