{% extends 'main.html' %} {% load static %} {% block content %}

<div>
  <div>
    <section class="section">
      <div
        class="container d-flex justify-content-center align-items-center"
        style="height: 100vh"
      >
        <form method="post" class="form">
          {% csrf_token %}
          <div class="cta-content">
            <h2><em>FEDERAL ROAD SAFETY CORP</em></h2>
            <legend>Registration Form</legend>
        </div>
          <div class="row justify-content-center">
            {% for field in form %}
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                {{ field }}
                <small class="text-danger">{{ field.errors }}</small>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <input type="text" name="job_title" id="" placeholder="Job Title">
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <input type="number" name="age" id="" placeholder="Age" class="form-control" min="0">
                <small class="text-danger">{{ field.errors }}</small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <a href="{% url 'home'%}" class="btn btn-danger">&LeftArrow; Login</a>
            <input
              type="submit"
              value="Sign Up"
              class="btn btn-danger"
            />
          </div>
        </form>
      </div>
    </section>
  </div>
</div>

{% endblock content %}
